.content
  .row
    .span8.title
      Chess Puzzles: Mate in One
      %span.city
  .row
    .span4.caption
      Built with
      %a{href: "https://github.com/serbanghita/jQuery-Chess"}
        jQuery Chess
      and
      %a{href: "http://apify.heroku.com/resources", target: '_blank'}
        APIfy.
  .row
    &nbsp;
  .row
