.app-content {
  font-family: Helvetica, sans-serif; }

.title {
  padding: 10px;
  font-size: 20px; }

.caption {
  font-size: 10px;
  margin-left: 20px; }

.number {
  font-size: 20px;
  color: #C4C0C2; }

#board {
  margin: 10px;
  padding-left: 20px; }

.instructions {
  font-size: 16px; }

.result {
  font-size: 20px;
  font-weight: bold; }

.won {
  color: #339966; }

.lost {
  color: #CC3300; }

.score {
  font-size: 15px; }

.score .points {
  font-size: 20px;
  color: #0000FF; }

#chessBoard {
  background: #edc9a2 url("../img/45.gif") left top;
  border: 1px solid #D3A36A; }

.squareNotation {
  padding-left: 1px;
  z-index: 1; }

.square.oddX.evenY .squareNotation,
.square.evenX.oddY .squareNotation {
  color: #D3A36A; }

.square.evenX.evenY .squareNotation,
.square.oddX.oddY .squareNotation {
  color: #EDC9A2; }

.square.highlight {
  background-color: rgba(193, 225, 181, 0.3); }

/* pieces */
.draggablePiece {
  z-index: 2;
  cursor: pointer; }

.wp {
  background: url("../img/wp.png") no-repeat; }

.wr {
  background: url("../img/wr.png") no-repeat; }

.wn {
  background: url("../img/wn.png") no-repeat; }

.wb {
  background: url("../img/wb.png") no-repeat; }

.wk {
  background: url("../img/wk.png") no-repeat; }

.wq {
  background: url("../img/wq.png") no-repeat; }

.bp {
  background: url("../img/bp.png") no-repeat; }

.br {
  background: url("../img/br.png") no-repeat; }

.bn {
  background: url("../img/bn.png") no-repeat; }

.bb {
  background: url("../img/bb.png") no-repeat; }

.bk {
  background: url("../img/bk.png") no-repeat; }

.bq {
  background: url("../img/bq.png") no-repeat; }
